# FOLDER
# ==========
.idea/*
.gulp/*
.cache/*
.sass-cache/*
.tmp/*
_tmp/*
node_modules/*
vendor/*
src/*
gulp/*

# FILES
# ==========
package-lock.json
package.json
yarn.lock
gulpfile.js
.bowerrc
bower.json




# EXTENSIONS
# ==========
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
