// HEADER :: START

header#header.header
  .header__wrapper
    .header--left
      .header--hamburger
        include ../macros/_hamburger

      .header--logotype
        include ../macros/_logotype

    .header--right

      .header--group
        include ../macros/_groupHeader

      .header--profile
        include ../macros/_profileHeader


// HEADER :: END