---
title: Zura Health
favicon: favicon

contentClassName: home
dataPageName: index

additionalStyleFile: false
---
extends shared/_layout

block content
  div(class!= contentClassName)

    include ./components/dashboard/_dashboard