// PROFILE :: START

.profile {
  padding-bottom: 50px;


  &__tabs {
    position: relative;
    min-height: 32px;
    margin-left: 32px;
    margin-right: 32px;
    padding-left: 5px;
    padding-right: 5px;
    color: $c-spunPearl;
    font-size: 16px;
    font-weight: 600;
    @include transition(color);
    @include respond(max-medium) {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 14px;
    }


    &:first-child {
      margin-left: 0;
    }


    &:last-child {
      margin-right: 0;
    }


    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 3px;
      background-color: transparent;
      @include transition(background-color);
    }


    &:hover {
      color: $c-comet;
      @include transition(color);
    }


    &.is-active {
      color: $c-comet;
      @include transition(color);


      &:after {
        background-color: $c-monteCarlo;
        @include transition(background-color);
      }
    }


    &-wrap {
      display: flex;
      min-height: 32px;
      margin-bottom: 36px;
      border-bottom: 1px solid $c-pattensBlue;
    }


    &-row {
      display: flex;


      .program__tabs-wrap {
        padding-right: 30px;
      }
    }


    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 162px;
      height: 28px;
      margin-left: 53px;
      border-radius: 3px;
      background-color: $c-comet;
      color: $c-white;
      font-size: 14px;
      font-weight: bold;
    }
  }


  &__change {
    width: 100%;
    max-width: 856px;
    padding: 28px 35px;
    border-radius: 5px;
    background-color: $c-white;
    border: 1px solid $c-aliceBlue;
    box-shadow: 0 3px 10px rgba($c-greyChateau, 0.16);
  }


  &__edit {
    display: flex;


    &-left {
      width: 189px;
      padding-right: 25px;


      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 164px;
        height: 164px;
        margin-bottom: 9px;
        border-radius: 5px;
        border: 1px solid $c-aliceBlue;
        box-shadow: 0 3px 10px rgba($c-greyChateau, 0.16);
      }
    }


    &-right {
      width: calc(100% - 189px);


      > div {
        padding: 28px 35px;
        border: 1px solid $c-aliceBlue;
        box-shadow: 0 3px 10px rgba($c-greyChateau, 0.16);
      }
    }


    &-img {
      overflow: hidden;
      position: relative;
      width: 114px;
      height: 114px;
      border-radius: 100%;


      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }


    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 28px;
      border-radius: 3px;
      color: $c-white;
      font-size: 14px;
      font-weight: bold;


      &--edit {
        margin-bottom: 6px;
        background-color: $c-comet;
      }
      &--save {
        background-color: $c-monteCarlo;
      }
    }
  }


  &__form {
    &-wrap {
      display: flex;
      justify-content: space-between;
      @include respond(max-medium) {
        flex-wrap: wrap;
      }


      .profile__form--left,
      .profile__form--right {
        width: 380px;
        @include respond(max-medium) {
          width: 100%;
        }
      }
      .profile__form--left {
        @include respond(large) {
          margin-right: 15px;
        }
      }
      .profile__form--right {
        @include respond(large) {
          margin-left: 15px;
        }
      }
    }


    &-field {
      width: 100%;
      max-width: 380px;
      padding-bottom: 20px;
      @include respond(max-medium) {
        max-width: 100%;
      }


      &--textarea {
        max-width: 100%;
      }


      &--btn {
        padding-top: 10px;
      }


      &.has-error {
        .profile__form-label {
          color: $c-danger;
        }
        .profile__form-input,
        .profile__form-textarea {
          input,
          textarea {
            border-color: $c-danger;
            color: $c-danger;
          }
          span {
            display: block;
          }
        }
      }
    }


    &-label {
      display: flex;
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 11px;


      &--wrap {
        display: flex;
        justify-content: space-between;
      }
    }


    &-link {
      color: $c-monteCarlo;
      font-size: 14px;
      font-weight: bold;
    }


    &-input,
    &-textarea {
      position: relative;
      width: 100%;


      input,
      textarea {
        outline: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        border: 1px solid $c-pattensBlue;
        color: $c-comet;
        font-size: 14px;
        font-weight: bold;
        @include input-placeholder {
          color: rgba($c-comet, 0.5);
        }
      }


      span {
        display: none;
        position: absolute;
        left: 0;
        font-size: 11px;
        font-weight: bold;
        color: $c-danger;
      }
    }


    &-input {
      height: 36px;


      input {
        padding: 0 15px;
      }


      span {
        top: 36px;
      }
    }


    &-textarea {
      height: 116px;


      textarea {
        resize: none;
        padding: 8px 15px;
      }


      span {
        top: 116px;
      }
    }


    &-btn {
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 198px;
      height: 50px;
      border-radius: 5px;
      border: none;
      background-color: $c-monteCarlo;
      color: $c-white;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

// PROFILE :: END